.App {
    text-align: center;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #61dafb;
  }
  
  .home, .cadastro, .listagem {
    padding: 20px;
  }
  
  form label {
    display: block;
    margin: 10px 0;
  }
  
  input {
    margin-left: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .aluno {
    margin-top: 20px;
  }
  